<div class="jumbotron">
    <h2>Coding Exercise</h2>
    <br />
    <ul style="font-size: larger">
        <li>Autofac is used to facilitate dependency injection.</li>
        <li>Dapper is used for database access.</li>
    </ul>
    <br />
    <p style="margin-bottom: 0;"><a href="~/User" class="btn btn-primary btn-lg">View list of users</a></p>
    <span style="margin-top: 0;">The export functions on this page are different from the datatable export used in the page below.</span>
    <p></p>
    <p style="margin-bottom: 0;"><a href="~/User/UserListApiVersion" class="btn btn-primary btn-lg">View list of users (API)</a></p>
    <span style="margin-top: 0;">This page contains a jQuery datatable which makes an API call to retrieve users.</span>
    <p></p>
    <p><a href="~/User/Create" class="btn btn-primary btn-lg">Create User</a></p>
    
</div>

