<div class="jumbotron">
    <h1>Coding Exercise</h1>
    <ul style="font-size: larger">
        <li>There are two database table for users and roles respectively and for which I have provided the creation and data scripts.</li>
        <li>Both are the main and test projects are in the same VS solution.</li>
        <li>I take the liberty of using Autofac to facilitate dependency injection.</li>
        <li>I include a code snippet in the zip to demonstrate how the API can be consumed by a console app.</li>
    </ul>
    <br />
    <p><a href="~/User" class="btn btn-primary btn-lg">Click to view the list of users</a></p>
    <p><a href="~/api/UserAPI" class="btn btn-primary btn-lg">API - Return all users</a></p>
    <p><a href="~/api/UserAPI?id=36" class="btn btn-primary btn-lg">API - Retrieve one user</a></p>
</div>

